@import "tailwindcss";

@theme {
	--font-outfitLight: "Outfit", sans-serif;
	--font-outfitRegular: "Outfit", sans-serif;
	--font-outfitSemiBold: "Outfit", sans-serif;
	--font-outfitBold: "Outfit", sans-serif;
}

@layer base {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
}

@layer utilities {
	.font-outfitLight { font-family: "Outfit", sans-serif; font-weight: 300; }
	.font-outfitRegular { font-family: "Outfit", sans-serif; font-weight: 400; }
	.font-outfitSemiBold { font-family: "Outfit", sans-serif; font-weight: 600; }
	.font-outfitBold { font-family: "Outfit", sans-serif; font-weight: 700; }
}
